ultralytics==8.1.0
Pillow==10.2.0
moviepy==2.0.0
fastapi
uvicorn[standard]
torch==2.1.0+cu118
torchvision==0.16.0+cu118
basicsr
realesrgan
facexlib
gfpgan
numpy
opencv-python
python-multipart
yt-dlp
validators
transformers
faster_whisper
fer
bitsandbytes
accelerate
librosa
pytest
rich
